:root {
    --dark: #212529;
    --light: #ffffff;
}

body {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    background-color: var(--light);
    color: var(--dark);
}

strong {
    font-weight: bold !important;
}

.card {
    margin: 0.5rem 0;
}

.icon-M {
    width: 3rem; 
    height: 3rem; 
    margin-bottom: 0; 
    margin-left: 1rem;
}

#title {
    margin-top: 1.5rem;
    display: block;
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
}

#beneath_title {
    height: 0.25em;
    border: none;
    background-color: #e1e4e8;
}

#post-date {
    color: hsl(0, 0%, 35%);
}

#article_body article p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem !important;
}

#article_body p > a {
    border-bottom: dotted 0.05rem;
    color: rgb(215,20,64);
}

#article_body p > a:hover {
    /* border-bottom: dotted 1px; */
    color: rgb(24,28,98);
    text-decoration: none;
}

#article_body pre {
    background-color: #eaedef;
}

#article_body h1 {
    border-bottom: none;
}

#article_body h2 {
    border-bottom: none;
}

#article_body h3 {
    border-bottom: none;
}

#article_body h4 {
    border-bottom: none;
}

#article_body h5 {
    border-bottom: none;
}

load-more {
    display: none;
}

#copyright {
    margin-top: 2rem;
}

/* for mobile */
@media screen and (max-width: 720px) {
    body {
        margin-left: 5%;
        margin-right: 5%;
    }

    #title {
        font-size: 1.6rem;
    }

    #post-date {
        font-size: 70% !important;
    }

    .icon-M {
        /* display: none; */
        width: 2.5rem !important;
        height: 2.5rem !important;
    }

    #copyright {
        font-size: small;
    }
}