{% extends 'layout.html' %}
{% block title %}
    <title>Netflix Subscription &middot; Ming &middot; 刘明宇 &middot; Liu Mingyu</title>
{% endblock %}
{% block css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/bw.css') }}">
    <style>
        body {
            margin-top: 2rem;
        }
        img {
            width: 100%;
            margin-bottom: 1rem;
        }
    </style>
{% endblock %}

{% block body %}
<body>
    <h1 style="margin-bottom: -0.5rem"><a href="/archive" style="font-size: 1.25rem"><img style="width: 50px; height: 50px;" src="{{ url_for('static', filename='img/icon/M.svg')}}"></a>
        Netflix Subscription</h1>
    <hr>

    <p>The current rate of Netflix subscription is <strong>$10.99 (CAD)</strong> per month.</p>
    <p>Currently, there are 3 people subscribing to our Friend Plan. The monthly billing will be <strong>$3.67 (CAD)</strong>, equivalent to <strong>17.99 CNY</strong>.</p>
    <p>Please note the above billing rate is <strong>subject to change</strong>. Please pay only the bill indicated on your billing Email.</p>
    {{message | safe}}

    <!-- Form -->
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="" style="{{display | safe}}">
        <div class="form-group">
            {{ render_field(form.first_name, class_="form-control") }}
         </div>
        <div class="form-group">
            {{ render_field(form.last_name, class_="form-control") }}
        </div>
        <div class="form-group">
            {{ render_field(form.email, class_="form-control") }}
        </div>
    <p><small><strong>By submitting the form, you consent that</strong>
        <br>1. Monthly billing Email will be sent out. You're responsible to pay your bill on time.
        <br>2. You may opt out the plan by notifying us at least 30 days in advance.
        <br>3. A confirmation Email will be sent to you for completing your subscription.

    </small></p>   
    <input class="btn btn-primary" type="submit" value="Submit">
    </form>
    <!-- End of form -->
</body>
{% endblock %}