.floating {
  visibility: hidden;
  position: fixed;
  top: 30%;
  display: flex;
  flex-direction: column;
}

.floating div * {
  margin-bottom: 1.5rem;
  width: 0;
}

.toast {
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: var(--primary) !important;
  height: 1rem !important;
  border-radius: 10px !important;
  position: fixed;
  right: 5px;
  bottom: 0;
}