.floating {
  visibility: hidden;
  position: sticky;
  position: -webkit-sticky;
  left: 0;
  top: 30%;
  display: flex;
  flex-direction: column;
}

.floating div * {
  margin-bottom: 1.5rem;
  width: 0;
}