.page {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 55%;
  position: relative;
  padding: 1rem;
}

.float-button {
  position: fixed !important;
  visibility: hidden;
  right: 1rem;
  bottom: 2rem;
}