.sidebar {
  display: flex;
  max-width: 12rem;
  /* max-height: 20rem; */
  flex-direction: column;
  margin-left: 3rem;
  margin-right: 3rem;
  text-align: left;
}

.avatar {
  /* height: 6rem; */
  width: 100%;
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 2rem;
}

.page {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 55%;
  /* width: 50rem; */
}