{% extends 'layout.html' %}
{% block title %}
    <title>Edit Article &middot; Ming &middot; 刘明宇 &middot; Liu Mingyu</title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/bw.css') }}">  
{% endblock %}

{% block body %}
    <h1>{{ heading }}</h1>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="">
        <div class="form-group">
            {{ render_field(form.author, class_="form-control") }}
         </div>
        <div class="form-group">
            {{ render_field(form.title, class_="form-control") }}
        </div>
        <div class="form-group">
                {{ render_field(form.alias, class_="form-control") }}
            </div>
        <div class="form-group">
            {{ render_field(form.body, class_="form-control", id="editor") }}
        </div>

    <input class="btn btn-primary" type="submit" value="Submit" style="display: inline;">
    <a href="#" class="btn btn-secondary" onclick="openMarkdownEditor()">Edit as Markdown</a>
    <div style="display: inline">{{ form.hidden() }} <strong>Hidden from the public</strong></div>
    </form>

    <!-- JavaScript for Ace -->
    <!-- <script src="{{ url_for('static', filename='ace/src/ace.js') }}" type="text/javascript" charset="utf-8"></script> -->

    <!-- stackedit.js -->
    <script src="https://unpkg.com/stackedit-js@1.0.2/docs/lib/stackedit.min.js"></script>

    <!-- turndown -->
    <script src="https://unpkg.com/turndown/dist/turndown.js"></script>

    <script type="text/javascript">
        // Ace editor
        // var editor = ace.edit("editor");
        // editor.setTheme("ace/theme/twilight");
        // editor.session.setMode("ace/mode/markdown");
        // $('.ace_editor').css('height', '40rem');

        $('#editor').css('height', '40rem');

        // turndown
        var turndownService = new TurndownService()
        
        function openMarkdownEditor() {
            const stackedit = new Stackedit();
            // Open the iframe
            stackedit.openFile({
                name: document.querySelector('#title').value, // with a filename
                content: {
                text: turndownService.turndown($('#editor').val()) // and the Markdown content.
                },
            });

            // In silent mode, the `fileChange` event is emitted only once.
            stackedit.on('fileChange', (file) => {
                $('#editor').val(file.content.html);
            });
        }
    </script>
{% endblock %}