{% extends 'layout.html' %}
{% block title %}
    <title>Edit Article &middot; Ming &middot; 刘明宇 &middot; Liu Mingyu</title>
{% endblock %}
{% block css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/bw.css') }}">
{% endblock %}

{% block body %}
    <h1>{{ heading }}</h1>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="">
        <div class="form-group">
            {{ render_field(form.author, class_="form-control") }}
         </div>
        <div class="form-group">
            {{ render_field(form.title, class_="form-control") }}
        </div>
        <div class="form-group">
                {{ render_field(form.alias, class_="form-control") }}
            </div>
        <div class="form-group">
            {{ render_field(form.body, class_="form-control", id="editor") }}
        </div>

    <input class="btn btn-primary" type="submit" value="Submit" style="display: inline;">
    <a href="#" class="btn btn-secondary" onclick="openMarkdownEditor()">Markdown</a>
    <div style="display: inline">{{ form.hidden() }} <strong>Hidden from the public</strong></div>
    </form>

    <!-- JavaScript for Editor -->
    <script src="//cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>

    <!-- stackedit.js -->
    <script src="https://unpkg.com/stackedit-js@1.0.2/docs/lib/stackedit.min.js"></script>

    <script type="text/javascript">
        // Un-comment this to enable CKEditor. But I find it annoying!
        // window.addEventListener('load', function() {
        //     CKEDITOR.replace('editor', {
        //         allowedContent:true,  // preserve class, etc
        //     })
        // })
        $('#editor').css('height', '50rem');
        
        function openMarkdownEditor() {
            const el = $('#editor');
            const stackedit = new Stackedit();
            // Open the iframe
            stackedit.openFile({
                name: document.querySelector('#title').value, // with a filename
                content: {
                text: el.val() // and the Markdown content.
                },
            });

            // In silent mode, the `fileChange` event is emitted only once.
            stackedit.on('fileChange', (file) => {
                el.val(file.content.html);
            });
        }
    </script>
{% endblock %}