{% extends 'layout.html' %}
{% block title %}
    <title>Panel &middot; Ming &middot; 刘明宇 &middot; Liu Mingyu</title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/bw.css') }}">
    <style>
        a.btn {
            color: white !important;
            width: 120px;
        }
    </style>
{% endblock %}

{% block body %}
    <nav class="nav mb-4">
        <a class="nav-link navbar-brand icon-M" href="/archive"><img style="width: 50px; height: 50px;" src="{{ url_for('static', filename='img/icon/M.svg')}}"></a>
        <a class="nav-link" href="/archive">Archive</a>
        <!-- <a class="nav-link" href="#">Gallery</a> -->
        <a class="nav-link" href="/archive/panel/new_article">New Article</a>   
        <a class="nav-link" href="/archive/logout">Log out</a>                     
        <a class="nav-link" id="go-profile" href="../">Go to Profile</a>
    </nav>

    <h1>Panel</h1>
    <div style="text-align: center">
        <img src="/static/img/knight.png" style="
        width: 420px;
        height: 420px;
        margin-left: 1rem;
        margin-right: 1rem;
        display: inline;
        ">
        <br>
        <a id='about' class="btn btn-primary" href="panel/about">About</a>
        <a id='resume' class="btn btn-secondary" href="panel/resume">Resume</a>
        <a id='experience' class="btn btn-success" href="panel/experiences">Expeirence</a>
        <a id='bouns' class="btn btn-danger" href="panel/bonus">Bonus</a>
        <a id='contact' class="btn btn-info" href="panel/contact">Contact</a>
        <a id='contact' class="btn btn-dark" href="panel/explorer">Explorer</a>
    </div>

    <!-- <h2 style="margin-top: 5px;">Static</h1>
    <hr>
    <ul class="list-group">
            {% for static_item in static | reverse %}
                <li class="list-group-item article-snapshot">
                    {{static_item['last_update']}} >> 
                    <a href="panel/{{static_item['static_type']}}">{{static_item['static_type']}}</a>
                </li>
            {% endfor %}
        </ul> -->

    <h2>Article</h2>
    <hr>
    <ul class="list-group">
        {% for article in articles | reverse %}
            <li class="list-group-item article-snapshot">
                {{article['create_date']}} >> 
                <a href="panel/article/{{article['id']}}">{{article['title']}}</a>
                <a href="panel/preview/{{article['id']}}" style="float: right">Preview</a>                
            </li>
        {% endfor %}
    </ul>

    <h1>Advanced, be cautious</h1>
    <hr>
    <button class="btn btn-primary" onclick="downloadDatabase()">Download Database</button>

    <script>
        function downloadDatabase() {
            alert("This feature is currently unavailable!")
        }
    </script>

{% endblock %}