{% extends 'layout.html' %}
{% block css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/blog.css') }}">
{% endblock %}

{% block body %}
<body>
    <h1>New Post</h1>
    <hr>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="">
        <div class="form-group">
            {{render_field(form.author, class_="form-control")}}
        </div>
        <div class="form-group">
            {{render_field(form.title, class_="form-control")}}
        </div>
        <div class="form-group">
            {{render_field(form.body, class_="form-control")}}
        </div>
        <p><input type="submit" class="btn btn-primary" value="Submit"></p>
      </form>
</body>
{% endblock %}