:root {
  --primary: #1E656D;
  --warning: #B9090B;
  --bright: #739F3D;
  --text-color: #011A27;
  --text-disable: #ccc;
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: var(--text-color);
}

p[class=upsize]:first-letter {
  font-family: 'Open Sans Extra-Bold', sans-serif;
  font-size: 2rem;
}

.copy-right {
  font-size: 70%;
}

.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

img[class=post-image] {
  width: 100%;
  border-radius: 5px;
}

span[class=small] {
  font-size: 80%;
  color: var(--primary);
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .page {
    width: 100%
  }

  .app-wrapper {
    padding: 0 1rem;
  }
}