:root {
  --primary: #1E656D;
  --warning: #B9090B;
  --special: #2D4262;  /* indigo */
  --text-color: #011A27;
  --text-disable: #ccc;
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: var(--text-color);
}

p[class=upsize]:first-letter {
  font-family: 'Open Sans Extra-Bold', sans-serif;
  font-size: 2rem;
}

.copy-right {
  font-size: 70%;
}

.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.monaco {
  font-family: monaco, sans-serif;
}

img[class=post-image] {
  margin: auto;
  max-width: 100%;
  border-radius: 5px;
}

span[class=small] {
  font-size: 80%;
}

a {
  color: var(--primary);
  text-decoration: none;
  border-bottom: 1px dashed;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .float-button {
    visibility: visible;
  }

  .page {
    width: 100%
  }

  .app-wrapper {
    padding: 0.5rem;
  }
}

@media screen and (min-width: 769px) {
  .page {
    width: 480px;
  }
}

@media screen and (min-width: 1024px) {
  .page {
    width: 720px;
  }
}

@media screen and (min-width: 1440px) {
  .page {
    width: 960px;
  }
}

@media screen and (min-width: 2560px) {
  .page {
    width: 1440px;
  }
}