body {
    background-color: #f8f9fa;    
    margin-top: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 3rem;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
}

strong {
    font-weight: bold !important;
}

.ck-editor__editable {
    min-height: 400px;
}

.nav {
    /* position: absolute; */
    /* min-width: 720px; */
    font-size: 1.5rem;
    font-variant: small-caps;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    text-decoration: underline;
    color: black;
}

.icon-M {
    margin-right: 2.5rem;
    width: 1.5rem;
    height: 1.5rem;
}

.list-group-item {
    background-color: #f8f9fa
}

#go-profile {
    margin-left: auto;
    border: 0.1rem solid;
}

.article-snapshot {
    border: none;
    padding-right: 0px;
    /* min-width: 720px; */
}

#article_body p > a {
    border-bottom: dotted 0.05rem;
    color: rgb(215,20,64);
}

#article_body p > a:hover {
    /* border-bottom: dotted 1px; */
    color: rgb(24,28,98);
    text-decoration: none;
}

#article_body article p {
    font-family: 'lato', Verdana, Helvetica, Arial, sans-serif;
}

#article_body pre {
    background-color: #eaedef;
}

/* Editor specific */
blockquote {
    border-left: 0.5rem solid #ccc;
    margin: 1.5em 0.8rem;
    padding-left: 1.5rem;
}

/* blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
} */

blockquote p {
    display: inline;
}
/* End of editor specific */

load-more {
    display: none;
}