:root {
    --dark: #212529;
    --light: #ffffff;
}

body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    background-color: var(--light);
    color: var(--dark);
}

strong {
    font-weight: bold !important;
}

.ck-editor__editable {
    min-height: 400px;
}

.nav {
    position: absolute;
    top: 0;
    font-size: 1.5rem;
    background-color: var(--light); 
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 0 !important;
}

.nav a:hover {
    text-decoration: none;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    text-decoration: underline;
    color: black;
}

.icon-M {
    margin-right: 2.5rem;
    width: 3rem;
    height: 3rem;
}


#go-profile {
    display: none;
    margin-left: auto;
    border: 0.1rem solid;
}

#article-list {
    margin-top: 1.5rem;
}

#article-list h5 > a {
    color: var(--dark);
}

#article-list div > a {
    color: rgb(215,20,64);
}

#article-list div > a:hover {
    color: rgb(24,28,98);
    text-decoration: none;
}

/* Editor specific */
blockquote {
    border-left: 0.5rem solid #ccc;
    margin: 1.5em 0.8rem;
    padding-left: 1.5rem;
}

blockquote p {
    display: inline;
}
/* End of editor specific */

#copyright {
    margin-top: 2rem;
}

/* for mobile */
@media screen and (max-width: 720px) {
    body {
        margin-left: 5%;
        margin-right: 5%;
    }

    .nav {
        font-size: 1.2rem;
        margin-bottom: 0.5rem !important;
    }

    #nav-archive {
        display: none;
    }

    #nav-panel {
        display: none;
    }

    .card-title {
        font-size: 1.2rem;
    }

    .card-header {
        padding-top: 0.45rem;
        padding-bottom: 0.45rem;
    }

    .card-body {
        padding: 0.75rem;
    }

    #post-date {
        font-size: 70% !important;
    }

    .icon-M {
        /* display: none; */
        width: 2.5rem !important;
        height: 2.5rem !important;
    }

    #copyright {
        font-size: small;
    }
}