.main {
    /* margin: 0 auto;  set center */
    margin-bottom: 10px;
    width: 100%;
    min-width: 960px;
    font-family: "Montserrat", "Lato", Verdana, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;

    /* display: grid; */
}

.intro {  /* the transparent stuff that holds your head */
    /* position: absolute; */
    /* float: right; */
    /* margin-right: 20px; */
    /* margin: 0 auto; */
    /* align-self: center; */
    /* position: center; */
    width: 320px;
    height: 401px;
    background-color: #ffffff9c;
}

.cover_text {
    font-family: "Montserrat";
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    color: white;    
    margin: auto;
}

.small-line {
    /* font-size: 14px; */
    /* margin-top: 0px; */
}

.nav {
    position: absolute;
    min-width: 720px;
    font-size: 25px;
    font-variant: small-caps;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    text-decoration: underline;
    color: white;
}

.profile-container {
    display: grid;
    grid-template-columns: auto 320px;
    min-width: 720px;
    height: 401px;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0)),
        url('/static/img/LA_SD.jpg');
    background-position: center;
    background-size: cover;
    /* margin-bottom: 20px; */
    /* font-weight: bold; */
    font-variant: small-caps
}

.profile {  /* your big head */
    /* dimension of profile picture */
    width: 175px;
    height: 175px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.row {
    margin: 0 auto;
}

.social-icons {
    /* margin-top: -15px; */
}

.icon {
    width: 25px;
    height: 25px;
}

.info:nth-child(even) {
    background-color: #e9ecefcf;
    width: 100%;
    min-width: 720px;
    margin-top: 0px;
    /* margin-bottom: 20px; */
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.info:nth-child(odd) {
    background-color: #212529;
    color: #f8f9fa;
    width: 100%;
    min-width: 720px;
    margin-top: 0px;
    /* margin-bottom: 20px; */
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* .carousel {
    margin-left: 20px;
    margin-right: 20px;
} */

.copyright {
    margin-top: 20px;
}

.display-4 {
    font-family: "Montserrat";
    font-weight: bold;
}

.block_wrapper {
    display: grid;
}

.info:nth-child(even) a {
    color: black;
    border-bottom: 1px dotted black;
}

.info:nth-child(even) a:hover {
    color: black;
    border-bottom: 1px dotted black;
    text-decoration: none;
}

.info:nth-child(odd) a {
    color: white;
    border-bottom: 1px dotted white;
}

.info:nth-child(odd) a:hover {
    color: white;
    border-bottom: 1px dotted white;
    text-decoration: none;
}

strong {
    font-weight: bold !important;
    font-size: 21px !important;
}