{% extends "layout.html" %}
{% block title %}
    <title>Ming &middot; 刘明宇 &middot; Liu Mingyu</title>
{% endblock %}
{% block css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/home.css') }}">
{% endblock %}
{% block custom_js %}
    <script src="{{ url_for('static', filename='script/myScript.js') }}"></script>
{% endblock %}
{% block body %}
<body class="main">
    <nav class="nav mb-4"> <!--sticky-top doesn't seem good-->
      <a class="scroll nav-link active" href="#about">About</a>
      <a class="scroll nav-link" href="#resume" href="#">Resume</a>
      <!-- <a class="scroll nav-link" href="#gallery">Gallery</a> -->
      <a class="scroll nav-link" href="#experiences">Experiences</a>
      <!-- <a class="scroll nav-link" href="#download">Download</a> -->
      <a class="scroll nav-link" href="#contact">Contact</a>
      <!-- <a class="nav-link disabled" href="#">Gallery</a> -->
      <!-- Dropdown -->
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Resources
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/netflix">Netflix Subscription</a>
        </div>
    </nav>

    <!-- The top block-->
    <div class="profile-container">
        <div class="cover_text">
          HI, THIS IS MING.
        </div>
        <!-- your big head and intro -->
        <div class="intro text-center">
          <div class="intro_content">
              <div class="col-md-auto">
                  <img class="profile" src="{{ url_for('static', filename='img/pf-default.png')}}">
              </div>
              <div class="col-md-auto">
                  <p class="small-line">
                  <strong>刘明宇 Ming</strong>
                  <br>Undergraduate<br>Computer Science<br>Nanyang Technological University</p>
                  <p class="social-icons">
                      <a href="https://github.com/lyming90" target="_blank"><img class="icon" src="{{ url_for('static', filename='img/icon/github.png') }}"></a>
                      <a href="https://facebook.com/mingyuliu1916/" target="_blank"><img class="icon" src="{{ url_for('static', filename='img/icon/facebook.png') }}"></a>
                      <a href="https://linkedin.com/in/mingyuliu16/" target="_blank"><img class="icon" src="{{ url_for('static', filename='img/icon/linkedin.png') }}"></a>
                  </p>
              </div>
            </div>
        </div>
    </div>

    <!-- block_wrapper -->
    <div class="block_wrapper">
      <!-- About block -->
      <div id="about" class="info" style="display: block">
        <h1 class="display-4">ABOUT</h1>
        
        {{static_dic['About'] | safe}}
      
      </div>

      <!-- Resume block -->
      <div id="resume" class="info" style="display: block">
        <h1 class="display-4">RESUME</h1>
        <p class="lead" style="text-align: justify;">A PDF version of my resume can be downloaded <a href="{{ url_for('static', filename='resume/resume2017.pdf')}}" target="_blank">here</a>.</p>
        <p class="lead" style="text-align: justify;">You can also view an online version here.</p>
        <p><a href="#" data-toggle="collapse" data-target="#resume-content">Click here to expand</a></p>
        <div id="resume-content" class="collapse">

          {{static_dic['Resume'] | safe}}

          <p class="lead" style="text-align: justify;">
              <a href="#" data-toggle="collapse" data-target="#resume-content">Click here to close up</a>
          </p>
        </div>
      </div>

      <!-- Blog block -->
      <div id="experiences" class="info" style="display: block">
        <h1 class="display-4">EXPERIENCES</h1>
        <p class="lead" style="text-align: justify;">

          {{static_dic['Experiences'] | safe}}

          <a href="/archive">Read more.</a>
        </p>
      </div>

      <!-- Bonus -->
      <div id="bonus" class="info" style="display: block">
        <h1 class="display-4">BONUS</h1>
        
        {{static_dic['Bonus'] | safe}}

      </div>

      <!-- Contact block -->
      <div id="contact" class="info" style="display: block">
        <h1 class="display-4">CONTACT</h1>

        {{static_dic['Contact'] | safe}}
        
      </div>

    </div>


    <!-- Footer -->
    {% include 'includes/_copyright.html' %}

    <!-- Bootstrap JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Load my JavaScript -->
    <!-- <script src="{{ url_for('static', filename='script/myScript.js') }}"></script> -->
</body>
{% endblock %}