.app-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1.5rem;
  color: var(--text-color);
  /* border-left: 0.5rem solid var(--primary); */
}

line-break {
  display: block;
  text-align: left;
  width: 100%;
  margin: 2rem 0;
  background-color: var(--primary);
  height: 2px;
}