@import '_colors';

:local {
  .appContainer {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .container {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: row;
    width: 60%;
  }
}