@import '_colors';

:local {
  .appContainer {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .container {
    // margin-top: 1.25rem;
    display: flex;
    flex-direction: row;
    padding: 1.25rem;
    width: 480px;
  }

  @media (min-width: 768px) {
    .container {
      width: 480px;
    }
  }

  @media (min-width: 1024px) {
    .container {
      width: 720px;
    }
  }

  @media (min-width: 1440px) {
    .container {
      width: 960px;
    }
  }

  @media (min-width: 2560px) {
    .container {
      width: 1440px;
    }
  }
}