.sidebar {
  display: flex;
  position: relative;
  max-width: 10%;
  min-width: 10rem;
  flex-direction: column;
  margin-right: 4rem;
  padding: 1rem;
  text-align: left;
}

.avatar {
  /* height: 6rem; */
  width: 100%;
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 2rem;
}

.avatar-text {
  font-size: 0.85rem;
  color: var(--primary);
  text-align: center;
}