.sidebar {
  display: flex;
  position: relative;
  max-width: 15%;
  min-width: 10rem;
  flex-direction: column;
  margin-right: 3rem;
  text-align: left;
}

.avatar {
  /* height: 6rem; */
  width: 100%;
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 2rem;
}